h2 {
  font-size: 80px;
}

/* HERO: */

.heroContainer {
  padding: 50px 100px;
}
.heroUpper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heroUpperLeft {
  position: relative;
}
.heroUpperLeft button:hover {
  transition: 1s;
  transform: translateY(-5px);
}
.heroUpperLeft h2 {
  margin-bottom: 50px;
}

.heroUpperLeftLastContainer {
  display: flex;
  box-shadow: 0px 5px 9px #e0e0e0;
  position: absolute;
  right: -100px;
  bottom: 0px;
}
.heroUpperLeftLastContainer div {
  text-align: start;
  padding: 10px;
}
.heroUpperLeftLastContainer h1 {
  font-size: 16px;
  color: #ffaf35;
}

.heroBottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.heroBottomContainer div h1 {
  text-align: center;
  color: #ffaf35;
}

/* COURCES */

.courceContainer {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f5f5;
}
.sliderCardContainer div {
  margin-bottom: 10px;
}
.sliderCardContainer {
  width: 150px;
  background-color: #fff;
  padding: 20px;
}
.courcecontainer div:first-child {
  padding: 20px;
}

/* MEDIA QURIES */

@media (max-width: 600px) {
  .heroContainer {
    padding: 20px 0px;
  }
  .courceContainer {
    padding: 50px 5px;
  }
  .courceContainer div:first-child h1 {
    font-size: 22px;
  }
}

@media (max-width: 900px) {
  .heroUpper {
    flex-direction: column;
  }
  .heroUpperLeft {
    text-align: center;
  }

  .heroUpperLeft h2 {
    font-size: 25px;
  }
  .heroUpperLeftLastContainer {
    display: none;
  }
  .heroBottomContainer {
    flex-direction: column;
  }
}

@media (max-width: 1023px) {
  .courceContainer {
    flex-direction: column;
  }
}
