/* NAVBAR: */

.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}

.navMenu {
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  display: none;
  z-index: 1;
}

.responsiveNavMenu {
  display: flex;
}

.close {
  position: fixed;
  top: 10px;
  right: 100px;
}

/* HAMBURGER ICON */

.hamburgerIcon {
  display: none;
  cursor: pointer;
}

.hamburgerIcon {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
}

.line:nth-child(1) {
  top: 0;
}

.line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.line:nth-child(3) {
  bottom: 0;
}
@media (max-width: 900px) {
  .hamburgerIcon {
    display: block;
  }
  .navMenu {
    display: flex;
    flex-direction: column;
  }
  .navMenu div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .responsiveNavMenu {
    display: none;
  }

  .navButtons {
    display: none;
  }
}
@media (max-width: 600px) {
  .close {
    right: 50px;
  }
  .container {
    padding: 10px;
  }
}
